body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.one {
    align-items: center;
    justify-content: space-between;
}

.smallimage {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.header, .footer, .section {
    padding-left: 250px;
    padding-right: 250px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

}

.one img {
    height: 360px;
    width: 540px;
}


#logo { 
    font-size: 24px;
    font-weight: 900;
    color: white;
}

#hero-big {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

#hero-small {
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#hero-small, .header ul, #call-small {
    font-size: 18px;
    color: #E5E7EB;
}

#call-big {
    font-size: 24px;
    font-weight: 600;   
}

#information {
    font-size: 36px;
    font-weight: 800;   
}

#quote-text {
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
}

#quote-author {
    font-size: 30px;
    font-weight: 800;
    align-self: flex-end;
    margin-right: 175px;
}

.header ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.section {
    padding-top: 50px; 
    padding-bottom: 50px;
    display: flex;  
    height: 400px;
}

.header, .one, .footer {
    background-color: #fa583c;

}

.two, .four {
    background-color: #ffffff;
}

.two {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}


.two .images {
    display: flex;
    justify-content: space-between;
    gap: 75px;
}

.images .image {        
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.three {
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}


.four .container, .signup{
    color: white;
    background-color: #3882F6;
}

.footer {
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
}

.signup {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

.four .signup {
    border: 3px solid white;
}

a {
    cursor: pointer;
}

.four .container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 50px 100px; 
    gap: 50px;
}

.four {
    height: 300px;
    justify-content: center;
    align-items: center;
}