body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.smallimage {
    width: 150px;
    height: 150px;
}

.header, .footer, .section {
    padding-left: 250px;
    padding-right: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fa583c;
    height: 64px;

}


#logo { 
    font-size: 36px;
    font-weight: 900;
    color: white;
}

.header ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.section {
    display: flex;
    height: 500px;
}

.one {
    background-color: #fa583c;

}

.two {
    background-color: #ffffff;
    flex-wrap: wrap;

}

.three {
    background-color: #E5E7EB;

}

.four {
    background-color: #ffffff;


}

.footer {
    background-color: #fa583c;
}
